@import './../../../assets/scss/variables.scss';
@import './../../../assets/scss/mixins.scss';

.content__wrapper {
  @include contentWrapper
}

.content {
  @include content;

 // @include flex(row, space-between, center, wrap);
  
  @media (max-width: $largeBP) {
    color: red;  
  }

  @media (max-width: $mediumBP) {
    color: yellow;
  }

  @media (max-width: $smallBP) {
    color: green;
  }
}