@import './../../../assets/scss/variables.scss';
@import './../../../assets/scss/mixins.scss';

.content__wrapper {
  @include contentWrapper;
}

.content {
  @include content;


 // @include flex(row, space-between, center, wrap);
  
  @media (max-width: $largeBP) {
  }
  @media (max-width: $mediumBP) {
  }
  @media (max-width: $smallBP) {
  }
}

.dogs__cards {
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 4%;
}

.dogs__card {
  width: 22%;
  height: 200px;
  margin-bottom: 15px;
  box-shadow: 1px 1px 5px black;
  @media (max-width: $largeBP) {
    height: 180px;
  }
  @media (max-width: $mediumBP) {
    width: 30.66%;
  }
  @media (max-width: $smallBP) {
    width: 48%;
  }
}

.dogs__card img {
  margin: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}


