@import './../../../../assets/scss/variables.scss';
@import './../../../../assets/scss/mixins.scss';

.dogs__card {
  width: 22%;
  height: 200px;
  margin-bottom: 15px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px black;
  @media (max-width: $largeBP) {
    height: 180px;
  }
  @media (max-width: $mediumBP) {
    width: 30.66%;
  }
  @media (max-width: $smallBP) {
    width: 48%;
  }
}

.dogs__card p {
  margin: 7px auto;
  @media (max-width: $largeBP) {
    margin: 0 auto;
  }
  @media (max-width: $mediumBP) {
  margin: 7px auto;
  }
}

.dogs__card input {
  width: 30%;
}

.add__dog {
  margin-top: 15px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: none;
  transition: 0.3s;

  @media (max-width: $mediumBP) {
  width: 80px;
  height: 80px;
  }
  @media (max-width: $smallBP) {
  width: 70px;
  height: 70px;
  }
}

.add__dog:hover {
  width: 104px;
  height: 104px;
  box-shadow: 2px 2px 5px black;
 
  @media (max-width: $mediumBP) {
    width: 84px;
    height: 84px;
  }
  @media (max-width: $smallBP) {
    width: 74px;
    height: 74px;
  }
  
}

.add__dog:active {
  box-shadow: 1px 1px 3px black;
}


.add__dog img {
  width: 100%;
  border-radius: 50%;
}

.preloader {
  margin-top: 15px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: none;
  
  @media (max-width: $mediumBP) {
  width: 80px;
  height: 80px;
  }
  @media (max-width: $smallBP) {
  width: 70px;
  height: 70px;
  }
}