@import './../../../../assets/scss/variables.scss';
@import './../../../../assets/scss/mixins.scss';

.dogs__card {
  width: 22%;
  height: 200px;
  margin-bottom: 15px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px black;
  @media (max-width: $largeBP) {
    height: 180px;
  }
  @media (max-width: $mediumBP) {
    width: 30.66%;
  }
  @media (max-width: $smallBP) {
    width: 48%;
  }
}

.dogs__card p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: medium;
  margin: 7px auto;

  @media (max-width: $largeBP) {
    margin: 0 auto;
  }
  @media (max-width: $mediumBP) {
  margin: 7px auto;
  }
}

.add__dog {
  margin-top: 15px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: none;
  box-shadow: none;
  transition: 0.2s;
  cursor: pointer;
}

.add__dog:hover {
  box-shadow: 2px 2px 8px gray
}

.add__dog:active {
  box-shadow: 0.5px 0.5px 3px black
}
 