@import './../../assets/scss/variables.scss';
@import './../../assets/scss/mixins.scss';

.content__wrapper {
  @include contentWrapper
}

.header__img {
  @include headerImage
}

.banner {
  width: 50%;
  min-height: 100%;
  background-color: rgb(247, 134, 134);
  position: relative;
  top: -215px;
  -webkit-transform: translate(50%, -50%);
  
}

.content {
  @include content;

 // @include flex(row, space-between, center, wrap);
  
  @media (max-width: $largeBP) {
    color: red;  
  }

  @media (max-width: $mediumBP) {
    color: yellow;
  }

  @media (max-width: $smallBP) {
    color: green;
  }
}