@import './../../../assets/scss/variables.scss';
@import './../../../assets/scss/mixins.scss';

.content__wrapper {
  @include contentWrapper;
  top: 160px;
}

.content {
  @include content;


 // @include flex(row, space-between, center, wrap);
  
  @media (max-width: $largeBP) {
      
  }

  @media (max-width: $mediumBP) {
   
  }

  @media (max-width: $smallBP) {
    
  }
}

.text {
  width: 80%;
  color: green;
  text-align: center;
  margin: auto;
}


.image {
  opacity: 0;
  width: 30%;
  height: auto;
  object-fit: cover;
  transition: .7s ease-in-out;
}

.imageLoaded {
  width: 35%;
  opacity: 1;
}