@import '../../../../../assets/scss/variables.scss';

.card {
  width: 48%;
  margin-bottom: 30px;
  background-color: rgb(204, 218, 230);
  box-shadow: $boxShadow;
    
  @media (max-width: $mediumBP) {
  width: 100%;
  }
}

.h1 {

}

skill__items {

}

skill__item {

}
