@import './../../assets/scss/variables.scss';

.header {
  width: 80%;
  margin: 15px 10%;
  position: fixed;
  z-index: 3;
  opacity: 1;
  background: rgba(255, 255, 255, 0.8);
  color: rgb(52, 71, 103);
  border-radius: 0.75rem;
  box-shadow: rgb(0 0 0 / 10%) 0rem 0.25rem 0.375rem -0.0625rem, rgb(0 0 0 / 6%) 0rem 0.125rem 0.25rem -0.0625rem;
  backdrop-filter: saturate(200%) blur(30px);
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-left: 16px;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.3s;
}

.logo:hover {
  background-color: rgb(160, 163, 255)
}

.logo img {
  width: 40px;
}

.nav {
  margin-right: 16px;
  display: flex;
  gap: 10px;
  align-items: center;
  opacity: 1;
  background: transparent;
  color: rgb(52, 71, 103);
  box-shadow: none;
  text-decoration: none;
  list-style: none;
  @media (max-width: $mediumBP) {
    display: none;
  }
}

.nav button {
  padding: 0px;
  line-height: 0px;
}

.nav a {
  display: flex;
  align-items: center;
}

a {
  opacity: 1;
  background: transparent;
  color: rgb(52, 71, 103);
  box-shadow: none;
  text-decoration: none;
  list-style: none;
}

.burger__menu {
  margin: 6px;
  display: none;
  @media (max-width: $mediumBP) {
    display: flex;
  }
}

.burger__menu img {
  width: 40px;
  transition: 0.3s;
}

.burger__menu_bg:hover {
  background-color: rgb(135, 137, 255);
  border-radius: 15px;
}

.burger__menu_x:hover {
  background-color: rgb(255, 84, 84);
  border-radius: 15px;
}

.burger__menu_items {
  visibility: hidden;
  position: absolute;
  top: 52px;
  width: 100%;
  height: 0px;
  background-color: $bgColor;
  z-index: 50;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: 0.5s ease-in-out;
}

.burger__menu_items a {
  display: flex;
  align-items: center;
}

.burger__menu_acive {
  visibility: visible;
  height: 90vh;
  @media (min-width: $mediumBP) {
    visibility: hidden;
  }
}