.App {
  margin: 0;
}


.content__wrapper {
  margin: 0 80px;
  height: 100vh;
  background-color: rgb(235, 235, 235);

  @media (max-width: 900px) {
    margin: 0 40px;
  }

  @media (max-width: 600px) {
    margin: 0;
  }
}